@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .radiobox{
       @apply inline-block space-x-6 ml-[5vw] mt-[3vh] text-[3vw];
    }
    #man, #woman {
        @apply font-semibold ;

    }

    .tabledy {
        @apply w-full text-[3vw] text-center lg:text-[1.9vw];
    }

    .table-trush {
        @apply ml-[4vw] w-[5vw] h-[3vh] lg:w-[2vw] lg:h-[5vh] lg:ml-[3vw] hover:cursor-pointer;
    }

    .table-image {
        @apply ml-[3vw] w-[13vw] h-auto lg:w-[15vw] lg:h-auto rounded-[16px] trans;
    }

    .table-r {
        @apply hover:bg-gray-300;
        transition: all 1s ease-in-out;
    }

    .headertable {
        @apply  text-gray-200;
    background-image: linear-gradient(to left,#5d6ecf,#2b346b) ;
    }

    .name-pro {
        @apply text-[5vw] tracking-wider lg:text-[3vw] capitalize;
    }

    .input-text {
        @apply inputall lg:w-[25vw] lg:h-[8vh] lg:text-[1.5vw];
    }

    .job-pro {
        @apply text-[3vw] tracking-wider text-gray-600 lg:ml-[2.5vw] lg:text-[1.9vw];
    }

    .box-profile {
        @apply flex flex-col justify-center items-center mt-[10vh] lg:mt-[29vh]  lg:items-start lg:ml-[2vw];
    }

    .imagepro {
        @apply rounded-[50%] w-[25vw] h-[16vh] lg:w-[25vw] lg:h-[36vh];
    }

    .profileme {
        @apply flex flex-row items-end justify-around absolute top-[22vh] w-full lg:top-[30vh] lg:justify-start lg:items-center;
    }

    .fontheader {
        @apply text-[3vw];
    }

    .box-input {
        @apply w-full lg:flex  lg:flex-row lg:justify-around lg:border-2 lg:border-gray-300 lg:h-[20vh] rounded-[12px] lg:items-center lg:box-border lg:shadow-xl lg:shadow-gray-300 py-[1.5vh];
    background-image: linear-gradient(to left,#5d6ecf,#2b346b) ;
    }

    .inputall {
        width: 70%;
        height: 5vh;
        font-size: 3.3vw;
        padding: 0 1vw;
        border-radius: 8px;
        border: 1px gray solid;

    }

    .lableall {
        width: 11%;
        height: 5vh;
        font-size: 3.3vw;
        padding: 0 1vw;
        color: #d1d5db;

    }

    .trans {
        transition: transform .2s ease-in-out;
    }

    .trans:hover {
        transform: scale(1.2);
    }

    .wrapper {
        position: absolute;

        transform: translate(-50%, -50%);
    }
    .aback:active{
        transform: scale(0.9);
        transform-style: flat;
    }
    .aback {
        display: block;
        width: 42vw;
        height: 5vh;
        line-height: 40px;
        font-size: 3vw;
        font-weight: 800;
        text-decoration: none;
        color: #333;
        border: 2px solid #333;
        letter-spacing: 2px;
        text-align: center;

        transition: all .35s;
    }
    #botmodal{
        @apply px-[5vw] text-[3.5vw] font-semibold mt-[3vh] border-2 border-gray-400 bg-transparent cursor-pointer lg:text-[2vw] ;
    }

    #textmodal{
        @apply text-[3.5vw] font-semibold mt-[2vw] px-[1vw] lg:text-[2vw];
    }
    #bodymodal{
        @apply w-full h-full fixed top-0 left-0 bg-gray-900 opacity-40 hidden;
    }
    #box-modal{
        @apply w-[70vw] h-[35vh] border-2  fixed top-[-50vh] left-[15vw] bg-gray-100 flex justify-center flex-col items-center
        rounded-[12px] z-10 lg:h-[45vh] lg:w-[50vw] lg:left-[22vw];
    }
    #image-modal{
        @apply w-[25vw] h-[19vh] lg:w-[12vw] lg:h-[12vh];
    }
    #botmodal:hover{
        transform: scale(1.2);
        background-color: #333333;
        color: white;
        transition: all 0.3s ease-in;
    }

    a span {
        position: relative;
        z-index: 2;
    }

    a:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #ff003b;
        transition: all .35s;
    }

    a:hover {
        color: #fff;
    }

    a:hover:after {
        width: 100%;
    }

}